{%extends 'start_chat.html'%} 

{%block chatmessages%}
<h1 class="user-title">{{user_b}}</h1>
<div id="chat-container">
    <div id="chat-messages">
    </div>
    <div id="message-text">
       <form id="message-form" action="{{ url_for('chat', chat_id=chat_id) }}" method="POST">
            <input
                type="text"
                placeholder="Type your message here"
                id = "message-input"
                name="message"
                required
            >
            <button type="submit" id="send-message" onclick="sendMessage(event)">Send</button>
       </form>
    </div>
    <script type="text/JavaScript">
        var chat_id = "{{chat_id}}";
        var socketio = io();
       
        
        socketio.emit('join', {chat_id: chat_id});
       
        socketio.on("message", function(data){
            var message = data.message;
            var name = data.user;
            var chat_id = data.chat_id;
                var messageDiv = document.createElement("div");
                if (name == "{{current_user}}"){
                    messageDiv.className = "current-usermessage";
                }else{
                    messageDiv.className = "other-usermessage";
                }
                var messageP = document.createElement("p");
                messageP.innerHTML = message;
                messageDiv.appendChild(messageP);
                document.getElementById("chat-messages").appendChild(messageDiv);
        });
        function sendMessage(event){
            event.preventDefault();
            var message = document.getElementById("message-input").value;
            if (message == ""){
                return;
            }
            socketio.emit('send_message', {chat_id:"{{chat_id}}", message: message, name: "{{current_user}}"});
            document.getElementById("message-input").value = "";
        }

    </script>
</div>

{%endblock%}