{%extends 'start_chat.html'%} 

{%block chatmessages%}
<div id="chat-container">
    <h1>{{user_b}}</h1>
    <div id="chat-messages">
    {%for message in messages%}
    {%if message[0] == current_user%}
        <div class="current-usermessage">
            <p>{{message[1]}}</p>
        </div>
    {%else%}
        <div class="other-usermessage">
            <p>{{message[1]}}</p>
        </div>
    {%endif%}
    {%endfor%}
    </div>
    <div id="message-text">
        <input
            type="text"
            placeholder="Type your message here"
            id = "message-input"
            name="message"
            required
        >
        <button type="submit" id="send-message">Send</button>
    </div>
    
</div>

{%endblock%}