{%extends 'start_chat.html'%} 

{%block chatmessages%}
<div id="chat-container">
    <h1>{{user_b}}</h1>
    <div id="chat-messages">
        <div class="current-usermessage">
            <p>Hi</p>
        </div>
        <div class="other-usermessage">
            <p>Hello</p>
        </div>
       
    </div>
    <div id="message-text">
        <input
            type="text"
            placeholder="Type your message here"
            id = "message-input"
            name="message"
            required
        >
        <button type="submit" id="send-message">Send</button>
    </div>
    
</div>

{%endblock%}