body, html {
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Beige background */
}
.main-container {
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
}
.centered-form{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-card{
    width: 100%;
    max-width: 400px;
}
.users-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.left-column, .right-column{
    display: flex;
    flex-direction: column;
    overflow-y: auto ;
}
.right-column{
    display: flex;
    flex-direction: column;
    flex: 4;
    padding: 20px;
    background-color: #ffffff ;
}

.left-column{
    flex:2;
    display: flex;
    flex-direction: column;
    padding:20px;
    box-shadow: 50px 10px 0 0 rgb(0, 0, 0);
    
}
.user-card{
    
    width: 100%;
    height: 50px;
    justify-content: center;
    
}

#user-btn{
    border: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
#login-card{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#login-button{
    margin-top: 10px;
}




