body, html {
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Beige background */
}
.main-container {
    height: 100vh;
    background-color: blanchedalmond;
}
.centered-form{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-card{
    width: 100%;
    max-width: 400px;
}

#login-card{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#login-button{
    margin-top: 10px;
}




